<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .annotation_header {
            background: #EEEEEE;
            margin: 10px;
            padding: 40px;
        }
        .annotation_list {
            margin: 10px;
            padding: 40px;
        }
        .annotation_footer {
            background: #EEEEEE;
            margin: 10px;
            padding: 40px;
        }

    </style>
        <link href="/static/conf/button.css" type="text/css" rel="stylesheet">
    <!-- global variables: current task id, current query -->
    <script type="text/javascript">
        currentTaskID = "{{ taskid }}";
        currentQuery = "{{ query }}"
   </script>
   	<script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/conf/jquery-min.js"></script>
	<script type="text/javascript" src="/static/conf/wc_preprocess.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.bgpos.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.reveal.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.raty.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/static/conf/anno_log.js"></script>
</head>
<body>
<div class="annotation_header">
<h1>搜索结果标注</h1>
<p>在当前搜索任务中，您总共提交了{{ querynum }} 个查询，请依据每一个查询，对搜索结果进行标注。</p>
<p>标注说明：blabla</p>
</div>
<div class="annotation_list">
<h2>提交查询列表</h2>
<table>
    {%  for q in querylist %}
    <tr><h3><a href="/annotation/{{ taskid }}/{{ q }}/" target="_blank">{{ q }}</a></h3></tr>
    {% endfor %}
</table>
</div>

<div class="annotation_footer">
    <div>
        <div>
            session satisfaction:
        </div>
        <div id="session_annotation"></div>
        <div><p></p></div>
    </div>
    <button class="WCOverButton button blue close-reveal-modal"  type="Button" onclick="session_over_button_on_click();">浏览完成</button>
</div></body>
</html>