<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>THUIR Experiment System</title>
    <script>
        function redirect() {
            alert("My First JavaScript");
            var username = document.getElementById("username");
            var pass = document.getElementById("password");
            if (username.value == "") {
                alert("请输入用户名");
                username.focus();
                return;
            }
            else if (pass.value == "") {
                alert("请输入密码");
                return;
            }
            else if ((pass.value == "123456") && (isNaN(username.value))) {
                window.location.href='/search/2/2/2'
                return;
            }
            else {
                alert("登录失败，请检查用户名和密码是否有误！");
                alert(username.value);
                return;
            }
            return true;
        }
    </script>
</head>
<body>
<form>
    <table>
        <tr align=center>
            <td>用户名:</td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr align=center>
            <td>密 码:</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>

        <tr align=center>
            <td colspan="2"><input type="button" value="登 录" onclick="redirect()"/>
                <input type="reset" value="重 置"/></td>
        </tr>

    </table>
</form>
</body>
</html>