<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>录音标注任务列表</h1>
<h2>共计12个任务，顺序进行标注</h2>
<h3><a href = '/recordanno/1'>Task 1</a></h3>
<h3><a href = '/recordanno/2'>Task 2</a></h3>
<h3><a href = '/recordanno/3'>Task 3</a></h3>
<h3><a href = '/recordanno/4'>Task 4</a></h3>
<h3><a href = '/recordanno/5'>Task 5</a></h3>
<h3><a href = '/recordanno/6'>Task 6</a></h3>
<h3><a href = '/recordanno/7'>Task 7</a></h3>
<h3><a href = '/recordanno/8'>Task 8</a></h3>
<h3><a href = '/recordanno/9'>Task 9</a></h3>
<h3><a href = '/recordanno/10'>Task 10</a></h3>
<h3><a href = '/recordanno/11'>Task 11</a></h3>
<h3><a href = '/recordanno/12'>Task 12</a></h3>
</body>
</html>
