<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/conf/jquery-min.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.bgpos.js"></script>
	<script type="text/javascript" src="/static/conf/jquery.reveal.js"></script>
    <script type="text/javascript" src="/static/conf/record_log.js"></script>

    <title>录音标注系统</title>
</head>
<body>
<h1>当前标注第{{ task.task_id }}个任务</h1>

<p>任务描述：{{ task.content }}</p>

<p>任务问题：{{ task.question }}</p>
<hr>
<div>
    {% for r in records %}
        <div>
            <a> 回答被试编码:{{ r.studentID }}</a>
            <audio controls preload="none">
                <source src="http://10.0.17.188{{ r.filepath }}" type="audio/mpeg">
            </audio>
            <audio controls preload="none">
                <source src="http://10.0.17.188{{ r.filepath }}" type="audio/mpeg">
            </audio>
            <form>
                <input type="text" name="score">
                <input type="hidden" name="studentID" value="{{ r.studentID }}"/>
                <input type="hidden" name="task_id" value="{{ r.task_id }}"/>
                <input type="submit" value="提交" />
            </form>
        </div>
        <hr>
    {% endfor %}
</body>
</html>