<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>All tasks</title>
</head>
<body>
<h1 align="center">清华大学计算机系信息检索组</h1>
<h1 align="center"> 欢迎您！</h1>
<script>
    var strcookie=document.cookie;
    var arrcookie=strcookie.split("; ");
    var sid = arrcookie[0].split('=')[1]

    document.write('<p align="center"><font style="font-size:16px" color="red">当前标注人员账号为'+sid+'</font></p>')
</script>

<p align="center" style="font-size:16px" color="red">当前共有{{ tasknum }}个标注任务</p>


{% for item in tasks %}
<div>
<h2> 第 {{ item.task_id }} 个标注任务</h2>
    <p>任务描述：{{ item.content }}</p>
    <p>初始查询： {{ item.init_query }}</p>
    <a href ='http://localhost:8000/search/{{ item.task_id }}/{{ item.init_query }}/1' target="_blank">点击这里开始</a>
</div>

{% endfor %}
</body>
</html>